@using Beskar.CodeAnalytics.Dashboard.Components.Navigations
@inherits LayoutComponentBase

<div class="page">
   <div class="nav">
      <NavBar />
   </div>
   <div class="main">
      @Body
   </div>
</div>