
.widget {
    grid-column: span 5;
    grid-row: span 1;
    border-right: 1px solid rgba(100, 100, 100, 0.3);
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    padding-bottom: 10px;
}

.contents {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

::deep .labels {
    padding: 0 10px;
}