
<div class="pane" style="width: @(_state.Width)%">
   @ChildContent
</div>

<gutter class="gutter"></gutter>

@code {
   
   [CascadingParameter] 
   public ResizableContainer? Parent { get; set; }
   
   [Parameter] 
   public RenderFragment? ChildContent { get; set; }
   
   [Parameter] 
   public double InitialWidth { get; set; }

   private readonly ResizableContainer.PaneState _state = new();
   
   protected override void OnInitialized()
   {
      _state.Width = InitialWidth;
      Parent?.RegisterPane(_state);
   }
}