@page "/source"
@using Beskar.CodeAnalytics.Dashboard.Components.Container

<PageTitle>Source Explorer</PageTitle>

<div style="width: 100%; height: 100%;">
   <ResizableContainer>
      <ResizablePane InitialWidth="20">
         Test 1
      </ResizablePane>
      <ResizablePane InitialWidth="60">
         Test 2
      </ResizablePane>
      <ResizablePane InitialWidth="20">
         Test 3
      </ResizablePane>
   </ResizableContainer>
</div>

@code {
   
}