@using CodeAnalytics.Web.Client.Components.Common.Symbols

<div class="code-bar">
   <a class="link">
      <span class="left"><Icon Name="search" /></span>
      <span class="text">Search Menu</span>
   </a>
</div>

@code {
   
}