.filter {
    padding: 12px 15px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}

.files {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.files .contents {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
    padding: 10px;
}