
.search {
    display: block;
    max-width: min(1420px, calc(100svw - 40px));
    max-height: min(890px, calc(100svh - 40px));
    background-color: var(--background-color);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    width: 3000px;
    height: 3000px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.mode .search-wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
}

.mode .search-text {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 65px;
}

.mode .header {
    padding: 15px 20px;
    font-size: 26px;
    border-right: 1px solid rgba(100,100,100,0.3);
}

.mode .modes {
    height: 40px;
    display: flex;
    background-color: var(--main-color-5);
}

.mode .modes .selector {
    display: flex;
    padding: 0 20px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mode .modes .selector:hover {
    background-color: rgba(100,100,100,0.3);
}

.mode .modes .selector.active {
    background-color: var(--main-color-40);
    cursor: default;
}