
.definition {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;
}

.definition .header {
    display: flex;
    gap: 10px;
    overflow: hidden;
    min-width: 0;
}

.definition .header .type {
    padding: 5px 10px;
    color: #000;
    border-radius: 6px;
    font-size: 20px;
    display: flex;
}

.definition .header .short-name {
    flex: 1;
    font-size: 20px;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    text-align: left;
    line-height: 36px;
}

.definition .header .short-name span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.definition .path {
    font-style: italic;
    color: rgba(255,255,255,0.8);
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.definition .location {
    padding: 10px;
    background-color: rgba(0,0,0,0.2);
    transition: .2s ease all;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.2);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.definition .location:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(100, 100, 100, 0.5);
}

.definition .location:last-child {
    margin-bottom: 0;
}