@using Beskar.CodeAnalytics.Dashboard.Shared.Events.Files
@using Beskar.CodeAnalytics.Dashboard.Shared.Interfaces.Services
@using Beskar.CodeAnalytics.Dashboard.Shared.Interfaces.Structure
@using Beskar.CodeAnalytics.Dashboard.Shared.Models.Structure

@inject IFolderService FolderService
@inject IDatabaseScheduler Scheduler

<div class="folder-tree-container">
   <h3 class="title">File Tree</h3>
   <div class="scroll">
      <FolderTreeChildNodes 
         Items="@_rootItems" 
         Depth="@(0)" 
         FileOpen="@FileOpen" />
   </div>
</div>

@code {
   
   [Parameter]
   [SupplyParameterFromQuery(Name = "fid")]
   public long? FileId { get; set; }
   
   [Parameter, EditorRequired]
   public required EventCallback<FileOpenEvent> FileOpen { get; init; }
   
   private List<FileSystemItem> _rootItems = [];
   private bool _isInitialized;

   private uint _expandToId;
   private bool _hasExpandToId;
   
   private FileSystemItem? _selectedItem;
   
   protected override async Task OnParametersSetAsync()
   {
      if (FileId.HasValue)
      {
         if (FileId.Value != _expandToId)
         {
            _expandToId = (uint)FileId.Value;
            _hasExpandToId = true;

            if (_rootItems.Count == 0)
            {
               _rootItems = await Scheduler.Schedule(() => FolderService.GetRootNodes(1));
            }

            var before = _selectedItem;
            
            _selectedItem = await Scheduler.Schedule(() => FolderService.ExpandRootNodes(_rootItems, _expandToId, false));
            before?.IsHighlighted = false;
         }
      }
      else
      {
         _rootItems = await Scheduler.Schedule(() => FolderService.GetRootNodes(1));
      }
   }

   protected override Task OnInitializedAsync()
   {
      _isInitialized = true;
      return Task.CompletedTask;
   }
}