@using Beskar.CodeAnalytics.Dashboard.Shared.Interfaces.Services
@using Beskar.CodeAnalytics.Dashboard.Shared.Interfaces.Structure
@using Beskar.CodeAnalytics.Dashboard.Shared.Models.Structure

@inject IFolderService FolderService
@inject IDatabaseScheduler Scheduler

<div>
   <h3 class="title">File Tree</h3>
   <FolderTreeChildNodes Items="@_rootItems" Depth="@(0)" />
</div>

@code {
   
   private List<FileSystemItem> _rootItems = [];
   private bool _isInitialized;

   protected override async Task OnInitializedAsync()
   {
      _rootItems = await Scheduler.Schedule(() => FolderService.GetRootNodes());
      _isInitialized = true;
   }
}