@using Beskar.CodeAnalytics.Dashboard.Shared.Events.Files
@using Beskar.CodeAnalytics.Dashboard.Shared.Models.Structure

<div>
   @foreach (var item in Items.OrderBy(x => x is not FolderNodeItem).ThenBy(x => x.Name))
   {
      <FolderTreeNode 
         Item="@item" 
         Depth="@(Depth + 1)"
         FileOpen="@FileOpen" />
   }
</div>

@code {
   
   [Parameter, EditorRequired]
   public required List<FileSystemItem> Items { get; set; }
   
   [Parameter]
   public int Depth { get; set; }
   
   [Parameter, EditorRequired]
   public required EventCallback<FileOpenEvent> FileOpen { get; init; }
   
}