@font-face {
    font-family: Roboto;
    src: url("fonts/RobotoMono-VariableFont_wght.ttf");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("fonts/RobotoMono-Italic-VariableFont_wght.ttf");
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url("fonts/icons.woff2") format('woff2');
}

* {
    padding: 0;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
    font-family: Roboto, serif;
}

:root {
    color-scheme: dark;
    --nav-height: 70px;
    --main-color: #2D68F6;
    --background-color: #1d1d1d;
    
    --main-color-40: rgba(45,104,246,0.4);
    --main-color-30: rgba(45,104,246,0.3);
    --main-color-20: rgba(45,104,246,0.2);
    --main-color-10: rgba(45,104,246,0.1);
    --main-color-5: rgba(45,104,246,0.05);
    
    --class-color: rgba(78,201,176,1.0);
    --class-color-50: rgba(78,201,176,0.5);
    --class-color-40: rgba(78,201,176,0.4);
    --class-color-30: rgba(78,201,176,0.3);
    --class-color-20: rgba(78,201,176,0.2);
    --class-color-10: rgba(78,201,176,0.1);
    --class-color-5: rgba(78,201,176,0.05);

    --interface-color: rgba(184,215,163,1.0);
    --interface-color-50: rgba(184,215,163,0.5);
    --interface-color-40: rgba(184,215,163,0.4);
    --interface-color-30: rgba(184,215,163,0.3);
    --interface-color-20: rgba(184,215,163,0.2);
    --interface-color-10: rgba(184,215,163,0.1);
    --interface-color-5: rgba(184,215,163,0.05);

    --struct-color: rgba(134,225,252,1.0);
    --struct-color-50: rgba(134,225,252,0.5);
    --struct-color-40: rgba(134,225,252,0.4);
    --struct-color-30: rgba(134,225,252,0.3);
    --struct-color-20: rgba(134,225,252,0.2);
    --struct-color-10: rgba(134,225,252,0.1);
    --struct-color-5: rgba(134,225,252,0.05);

    --enum-color: rgba(215,186,125,1.0);
    --enum-color-50: rgba(215,186,125,0.5);
    --enum-color-40: rgba(215,186,125,0.4);
    --enum-color-30: rgba(215,186,125,0.3);
    --enum-color-20: rgba(215,186,125,0.2);
    --enum-color-10: rgba(215,186,125,0.1);
    --enum-color-5: rgba(215,186,125,0.05);

    --enum-value-color: rgba(215,186,125,1.0);
    --enum-value-color-50: rgba(215,186,125,0.5);
    --enum-value-color-40: rgba(215,186,125,0.4);
    --enum-value-color-30: rgba(215,186,125,0.3);
    --enum-value-color-20: rgba(215,186,125,0.2);
    --enum-value-color-10: rgba(215,186,125,0.1);
    --enum-value-color-5: rgba(215,186,125,0.05);

    --property-color: rgba(156,220,254,1.0);
    --property-color-50: rgba(156,220,254,0.5);
    --property-color-40: rgba(156,220,254,0.4);
    --property-color-30: rgba(156,220,254,0.3);
    --property-color-20: rgba(156,220,254,0.2);
    --property-color-10: rgba(156,220,254,0.1);
    --property-color-5: rgba(156,220,254,0.05);

    --field-color: rgba(197,134,192,1.0);
    --field-color-50: rgba(197,134,192,0.5);
    --field-color-40: rgba(197,134,192,0.4);
    --field-color-30: rgba(197,134,192,0.3);
    --field-color-20: rgba(197,134,192,0.2);
    --field-color-10: rgba(197,134,192,0.1);
    --field-color-5: rgba(197,134,192,0.05);

    --constructor-color: rgba(220,220,170,1.0);
    --constructor-color-50: rgba(220,220,170,0.5);
    --constructor-color-40: rgba(220,220,170,0.4);
    --constructor-color-30: rgba(220,220,170,0.3);
    --constructor-color-20: rgba(220,220,170,0.2);
    --constructor-color-10: rgba(220,220,170,0.1);
    --constructor-color-5: rgba(220,220,170,0.05);

    --method-color: rgba(220,220,170,1.0);
    --method-color-50: rgba(220,220,170,0.5);
    --method-color-40: rgba(220,220,170,0.4);
    --method-color-30: rgba(220,220,170,0.3);
    --method-color-20: rgba(220,220,170,0.2);
    --method-color-10: rgba(220,220,170,0.1);
    --method-color-5: rgba(220,220,170,0.05);
}

body {
    background-color: var(--background-color);
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}