
.file .header {
    background-color: rgba(100, 100, 100, 0.2);
    padding: 5px;
    font-size: 17px;
}

.file .line {
    --height: 26px;
    display: grid;
    grid-template-columns: max-content 1fr;
    line-height: var(--height);
    height: var(--height);
    cursor: pointer;
    transition: .1s ease all;
}

.file .line:hover {
    background-color: rgba(100,100,100,0.2);
}

.file .line .number {
    font-size: 16px;
    line-height: var(--height);
    padding-right: 10px;
    color: rgba(200, 200, 200, 0.7);
}

.file .line  .text {
    font-size: 16px;
    line-height: var(--height);
}