
.project {
    padding-bottom: 10px;
}

.project .header {
    --height: 60px;
    display: grid;
    grid-template-columns: 32px 32px minmax(0, 1fr);
    height: var(--height);
    line-height: var(--height);
    cursor: pointer;
    transition: .1s ease all;
    border-bottom: 1px solid rgba(100,100,100,0.2);
    background-color: var(--main-color-5);
}

.project .header:hover {
    background-color: var(--main-color-10);
}

.project .header .name {
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.project .header .icon,
.project .header .collapse {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project .content {
    padding: 5px 0 0 5px;
}