@using Beskar.CodeAnalytics.Dashboard.Shared.Interfaces.Services
@using Beskar.CodeAnalytics.Dashboard.Shared.Interfaces.Symbols
@using Beskar.CodeAnalytics.Dashboard.Shared.Models.Symbols
@using Beskar.CodeAnalytics.Dashboard.Utils
@using Beskar.CodeAnalytics.Data.Entities.Archetypes

@inject ISymbolService SymbolService
@inject IDatabaseScheduler Scheduler

<div>
   @if (_model is { } model)
   {
      var symbol = model.Archetype.Symbol;
      var type = model.Archetype.TypeParameter;

      var (color, fontColor) = ColorUtils.GetSymbolColor(symbol.Type);
      
      <div class="actions">
         <a>🌿 Show Dependency Graph</a>
         <a>🔍 Deep Search</a>
      </div>
      <div class="header" style="--tag-color: var(@(color)); --tag-text-color: var(@(fontColor));">
         <div class="type"><SymbolTypeTag Type="@symbol.Type" /></div>
         <div class="name">
            <div class="metadata lets-dots">&#x200E@(model.Strings[symbol.MetadataName]) (ID: @SymbolId)&#x200E</div>
            <div class="fullname lets-dots">&#x200E@(model.Strings[symbol.FullPathName])&#x200E</div>
         </div>
      </div>
   }
</div>

@code {
   
   [Parameter, EditorRequired]
   public required uint SymbolId { get; set; }

   private ArchetypeCardModel<TypeParameterArchetype>? _model;
      
   private uint _lastSymbolId;
   private bool _fetched;

   protected override async Task OnParametersSetAsync()
   {
      if (!_fetched || (SymbolId != _lastSymbolId))
      {
         await Scheduler.Schedule(() =>
         {
            _model = SymbolService.GetTypeParameterCard(SymbolId);
         });

         _lastSymbolId = SymbolId;
         _fetched = true;
      }
   }
}