.header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header .name {
    font-size: 17px;
    font-weight: 500;
}

.header .fullname {
    font-weight: 450;
    font-size: 15px;
    color: rgba(255,255,255,0.8);
}

.actions {
    display: flex;
    padding-bottom: 15px;
    gap: 15px;
}

.actions a {
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
    display: block;
    padding: 5px 10px;
    cursor: pointer;
}

.actions a:hover {
    background-color: rgba(255,255,255,0.2);
}
