@using CodeAnalytics.Web.Client.Components.Navigation
@inherits LayoutComponentBase

<Navigation></Navigation>

@Body

<div id="blazor-error-ui" data-nosnippet>
   An unhandled error has occurred.
   <a href="." class="reload">Reload</a>
   <span class="dismiss">🗙</span>
</div>