
.increased {
    padding-left: 10px;
}

.entry {
    --height: 40px;
    display: grid;
    grid-template-columns: 32px 32px minmax(0, 1fr);
    height: var(--height);
    line-height: var(--height);
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: .1s ease all;
}

.entry:hover,
.entry.selected {
    background-color: rgba(100,100,100,0.2);
}

.entry .name {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.entry .icon,
.entry .collapse {
    display: flex;
    justify-content: center;
    align-items: center;
}