@using CodeAnalytics.Web.Common.Models.Explorer
@using CodeAnalytics.Web.Common.Services.Source

@inject IExplorerService ExplorerService

@if (IsVisible)
{
   <div class="explorer">
      @if (_initialized)
      {
         foreach (var root in _roots)
         {
            <ExplorerItem Item="@root"></ExplorerItem>
         }
      }
   </div>
}

@code {

   [Parameter]
   public bool IsVisible { get; set; }
   
   private bool _initialized = false;
   private List<ExplorerTreeItem> _roots = [];
   
   protected override async Task OnInitializedAsync()
   {
      _roots = await ExplorerService.GetExplorerTreeItems();

      _initialized = true;
   }
}