
.header {
    height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    background-color: rgba(0,0,0,0.1);
    border-right: 1px solid rgba(100,100,100,0.3);
    border-bottom: 1px solid rgba(100,100,100,0.3);
    overflow: hidden;
}

.header a {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: .1s ease all;
    cursor: pointer;
}

.header a:first-child {
    border-right: 1px solid rgba(100,100,100,0.6);
}

.header a:hover {
    background-color: var(--main-color-40);
}

.header a.active {
    background-color: var(--main-color-40);
    cursor: default;
}