@using CodeAnalytics.Engine.Contracts.Occurrences
@using CodeAnalytics.Web.Client.Components.Source
@using CodeAnalytics.Web.Common.Models.Occurrences

@if (IsVisible)
{
   <div class="occurrences">
      @if (OccurrenceState is null) 
      {
         <span class="notice">Click on identifiers in the code to see all their references.</span>
      }
      else
      {
         @foreach (var (projectId, project) in OccurrenceState.Occurrence.ProjectOccurrences)
         {
            
            
            @foreach (var (fileId, file) in project.FileOccurrences)
            {
               @foreach (var line in file.LineOccurrences)
               {
                  <pre><CodeLine Spans="@line.LineSpans" /></pre>
               }
            }
         }
      }
   </div>
}

@code {
   
   [Parameter]
   public bool IsVisible { get; set; }
   
   [Parameter]
   public OccurrenceState? OccurrenceState { get; set; }
   
}