@using CodeAnalytics.Web.Common.Models.Occurrences
@using CodeAnalytics.Web.Client.Components.Explorer.Occurrence

@if (IsVisible)
{
   <div class="occurrences">
      @if (OccurrenceState is null) 
      {
         <span class="notice">Click on identifiers in the code to see all their references.</span>
      }
      else
      {
         @foreach (var (_, project) in OccurrenceState.Occurrence.ProjectOccurrences)
         {
            <ProjectOccurrences 
               OccurrenceState="OccurrenceState" 
               Project="project" />
         }
      }
   </div>
}

@code {
   
   [Parameter]
   public bool IsVisible { get; set; }
   
   [Parameter]
   public OccurrenceState? OccurrenceState { get; set; }
   
}