nav {
    height: var(--nav-height);
    width: 100svw;
    background-color: rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(100,100,100,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .spacer {
    flex: 1;
}

nav .left,
nav .right {
    display: flex;
}

nav .icon-link {
    height: var(--nav-height);
    line-height: var(--nav-height);
    cursor: pointer;
    fill: #fff;
    stroke: #fff;
    padding: 0 15px;
    display: grid;
    place-items: center;
    transition: .1s ease all;
}

nav .icon-link:hover {
    background-color: rgba(100,100,100,0.3);
}

nav .mode {
    height: var(--nav-height);
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap: 5px;
}

nav .mode div {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: right;
    text-align: right;
}

nav .mode div:first-child {
    align-items: flex-end;
}

nav .mode div:last-child {
    align-items: flex-start;
}

nav .mode span {
    transform: translate(-2px, -1px);
}

::deep nav .nav-link {
    height: var(--nav-height);
    line-height: var(--nav-height);
    cursor: pointer;
    padding: 0 15px;
    transition: .1s ease all;
    display: block;
    text-decoration: none;
    border-left: 1px solid rgba(100,100,100,0.5);
}

::deep nav .nav-link:last-child {
    border-right: 1px solid rgba(100,100,100,0.5);
}

::deep nav .nav-link:hover {
    background-color: rgba(100,100,100,0.3);
}

::deep nav .nav-link.active {
    border-top: 4px solid var(--main-color-40);
    background-color: rgba(100,100,100,0.3);
}