@using CodeAnalytics.Engine.Contracts.Ids
@using CodeAnalytics.Engine.Contracts.TextRendering

<span
   data-id="@Span.Reference.Value"
   style="color: @Span.Color;"
   class="@(GetClasses() ?? string.Empty)">
   @Span.RawText
</span>

@code {
   
   [Parameter, EditorRequired]
   public required SyntaxSpan Span { get; set; }

   private string? GetClasses()
   {
      if (!Span.Reference.IsEmpty)
      {
         return "clickable ref";
      }

      return null;
   }
   
}