.sources {
    --height: calc(100svh - var(--nav-height));
    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
    width: 100svw;
    max-width: 100svw;
    min-width: 100svw;
    overflow: hidden;
    display: flex;
    position: relative;
}

.sources > .left {
    width: 400px;
    resize: horizontal;
    overflow: auto;
    min-width: 50px;
    max-width: 80%;
}

.sources > .right {
    flex: 1;
    overflow: auto;
    padding: 10px;
}