@page "/source/{*path}"
@using CodeAnalytics.Engine.Contracts.TextRendering
@using CodeAnalytics.Web.Common.Services.Source
@using CodeAnalytics.Web.Client.Components.Source
@using CodeAnalytics.Web.Client.Components.Explorer

@inject ISourceTextService SourceTextService

<div class="sources">
   <div class="left">
      <FileExplorer></FileExplorer>
   </div>
   <div class="right">
      @if (_isError)
      {
         @_errorMessage
      }
      else
      {
         @if (_initialized)
         {
            <CodeViewer Spans="_spans"></CodeViewer>
         }
      }
   </div>
</div>



@code {

   private string? _path;
   [Parameter]
   public required string Path { 
      get => _path ?? string.Empty;
      set
      {
         _path = value;
         _ = InvokeAsync(OnFileChange);
      } 
   }

   private SyntaxSpan[] _spans = [];
   
   private bool _isError = false;
   private bool _initialized = false;
   
   private string? _errorMessage;
   
   protected override async Task OnInitializedAsync()
   {
      await OnFileChange();
   }

   private async Task OnFileChange()
   {
      _initialized = false;
      var spansResult = await SourceTextService.GetSyntaxSpansByPath(Path);

      if (spansResult is not { Success: { } spans, IsSuccess: true })
      {
         _isError = true;
         _errorMessage = spansResult.Error.Detail;
         return;
      }

      _spans = spans;
      _initialized = true;
      
      await InvokeAsync(StateHasChanged);
   }
}