@using CodeAnalytics.Web.Common.Models.Canvas.Graphs
@using CodeAnalytics.Web.Client.Components.Canvas.Graphs
@using CodeAnalytics.Web.Common.Models.Canvas.Common

<div class="donut">
   <DonutGraphRenderer Nodes="@Nodes" Padding="@Padding"></DonutGraphRenderer>
   <SimpleValueGraphNodeLabels Nodes="@Nodes"></SimpleValueGraphNodeLabels>
</div>

@code {
   
   [Parameter, EditorRequired]
   public required List<ValueGraphNode> Nodes { get; set; }
   
   [Parameter] 
   public BoundingRect Padding { get; set; } = new (20, 20, 20, 20);
   
}