@using System.Globalization
@using CodeAnalytics.Engine.Utils
@using CodeAnalytics.Web.Common.Models.Canvas.Graphs

<div class="labels">
   @foreach (var node in Nodes)
   {
      <div class="label">
         <div class="color">
            <div class="content" style="background-color: @(GetColor(node))"></div>
         </div>
         <div class="name">
            <span class="value">@node.Value.ToNumberString()</span>
            <span class="text">@node.Name</span>
         </div>
      </div>
   }
</div>

@code {
   
   [Parameter, EditorRequired]
   public required List<ValueGraphNode> Nodes { get; set; }

   private string GetColor(ValueGraphNode node)
   {
      return node.Color.StartsWith("--")
         ? $"var({node.Color})"
         : node.Color;
   }
   
}