@using CodeAnalytics.Web.Common.Models.Canvas.Common
@using CodeAnalytics.Web.Common.Models.Canvas.Graphs
@using CodeAnalytics.Web.Client.Components.Canvas.Graphs

<div class="bar">
   <HorizontalBarGraphRenderer Nodes="@Nodes" Padding="@Padding" Height="@Height" />
   <SimpleValueGraphNodeLabels Nodes="@Nodes" />
</div>

@code {
   
   [Parameter] 
   public BoundingRect Padding { get; set; } = new (10, 0, 10, 0);

   [Parameter]
   public int Height { get; set; } = 40;
   
   [Parameter, EditorRequired]
   public required List<ValueGraphNode> Nodes { get; set; }
   
}