
<div style="width: 100%; height: 100%;">
   <div class="nav">
      <div class="logo">
         <div class="inner"></div>
      </div>
      <div class="menu">
         <NavLink href="" Match="NavLinkMatch.All">Dashboard</NavLink>
         <NavLink href="/source" Match="NavLinkMatch.All">Source Explorer</NavLink>
         <NavLink href="/info" Match="NavLinkMatch.All">Storage Info</NavLink>
      </div>
      <div class="right">
         <div class="github">
            
         </div>
         <div class="info">
            <div class="copyright">© 2026 Marvin Drude</div>
            <div class="version">Version: 1.0.0</div>
         </div>
      </div>
   </div>
</div>

@code {
   
}